.navbar-brand{
  color: rgb(255, 255, 255) !important;
}
.nav-link{
  color: rgb(255, 255, 255) !important;
}
.main-btn{
  background: #23A6F0 !important;

}
.main-btn-radius{
  border: solid black 1px !important;
}
.bacrasm{
  background: url(./assets/img/background.png) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.mini-box{
  width: Fill (248px)px;
  height:  (366px)px;
  gap: 10px;
  border-radius: 1px 0px 0px 0px;
  opacity: 0px;
  
background: #FFFFFF;

}
.block{
    display: block;
}
.header{
padding: 50px 0px 50px 0px;
}
.color-blu{
background: #A9D6FF;
}
.border{
  border: 1px solid ;
}
.icon-mans{
  background-color: #FFFFFF;
width: 30px;
border-radius: 50%;
  color: #A9D6FF;
width: 60px;
height: 60px;
padding: 15px;
display: inline-block;
}
.text-inline{
  display: inline-block;
}
.border{
  border: 2px solid #dedede;
}
.right-icon{
  font-size: 20px ;
}
.border-blue{
  border: 1px solid #23A6F0;
}
.marginner{
  margin-left: 130px;
}
.bacround-color{
  background: #252B42;

}
.whith-text{
  height: 705px;
}
.whith-text-2{
  height: 665px;
}
.bacround-black{
  background: #252B42;
  height: 257px;
}
.text-ortada{
  margin-top: 60px;
}
.input-btn input{
  width: 386px;
height: 58px;
gap: 0px;
opacity: 0px;
border-radius: 12px;
display: inline-block;
}
.input-btn  button{
  width: 117px;
height: 58px;
left: 269px;
gap: 10px;
opacity: 0px;
display: inline-block;

}